{{> head}}
{{> navbar}}


<div class="row"> 
    <div class="col-8">
        <h1>México</h1>
        <p>Aquí va una descripción de México...</p>
    </div>

    <div class="col-4">
        <img src="assets/img/vivamexico-21.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer}}